<% if house.errors.any? %>
<ul>
  <% house.errors.full_messages.each do |error|%>
    <li><%=error%></li>
  <%end%>
</ul>
<% end %>
<%= simple_form_for house  do |f|%>
  <div class="container">
    <p class="text-right">
      <%= link_to "取消",:back,class: "btn btn-warning common-btn" %>
      <%= f.submit '下一步',class: "btn btn-success common-btn"%>
    </p>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h4>必填</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="col-md-3">
            <%= f.input :house_id,label:'编号',required:true,placeholder:"必填" %>
          </div>
          <div class="col-md-3">
            <%= f.input :contact_phone,label:'看房热线' ,required:true,placeholder:"必填"%>
          </div>
          <div class="col-md-3">
            <%= f.input :contact_name,label:'联系人' ,required:true,placeholder:"必填"%>
          </div>
          <div class="col-md-3">
            <abbr title="required">*</abbr>
            <%= f.label :district_id,"区域" %>
            <%= f.select :district_id,District.all.map{|dis| [dis.name,dis.id]},{prompt:"必选"},class:"form-control",required:true%>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <%= f.input :spatial_planning,label:'空间规划',required:true,placeholder:"必填"%>
          </div>
          <div class="col-md-3">
            <%= f.input :address ,label:'产权地址',required:true,placeholder:"必填"%>
          </div>
          <div class="col-md-3">
            <abbr title="required">*</abbr>
            <%= f.label :floor_height ,"层高(m)"%>   |
            <%= f.check_box :is_duplex %>
            <%= f.label "是否为复式" %>
            <%= f.text_field :floor_height ,:class=>"form-control",required:true,placeholder:"必填"%>
          </div>
          <div class="col-md-3">

            <%= f.input :status,collection:House::STATUS.map{|s| [t(s,:scope=>"house.status"),s]},label:"状态",prompt:"",required:true %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">

            <%= f.input :gated_community,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.shi_fou"),s]},prompt:"必填",label:"封闭式小区",required:true %>
          </div>
          <div class="col-md-3">

            <%= f.input :house_upgrade ,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.you_wu"),s]},prompt:"必填",label:"套内硬装",required:true%>
          </div>
          <div class="col-md-3">

            <%= f.input :gas_pipeline,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.you_wu"),s]},prompt:"必填",label:"燃气管道",required:true %>
          </div>
          <div class="col-md-3">

            <%= f.input :elevator,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.you_wu"),s]},prompt:"必填",label:"电梯",required:true %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">

            <%= f.input :charter_costs,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.you_wu"),s]},prompt:"必填",label:"包租成本",required:true %>
          </div>
          <div class="col-md-3">

            <%= f.input :sercurity_service,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.you_wu"),s]},prompt:"必填",label:"门禁安保服务",required:true %>
          </div>
          <div class="col-md-3">

          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4>选填</h4>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <div class="col-md-3">
            <%= f.input :landscape,label:'景观' %>
          </div>
          <div class="col-md-3">
            <%= f.input :greening,label:'绿化' %>
          </div>
          <div class="col-md-3">
            <%= f.input :structure,label:'结构' %>
          </div>
          <div class="col-md-3">
            <%= f.input :parking_space ,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.you_wu"),s]},prompt:"",label:"停车位" %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <%= f.input :property_area,label:'产权面积(㎡)' %>
          </div>
          <div class="col-md-3">
            <%= f.input :actual_area,label:'实际使用面积(㎡)'%>
          </div>
          <div class="col-md-3">
            <%=f.input :public_area,label:'公摊面积(㎡)'%>
          </div>
          <div class="col-md-3">
            <%= f.input :public_passage,collection:House::LEVEL.map{|s| [t(s,:scope=>"house.level.narrow"),s]},prompt:"",label:"公共通道" %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <%=f.input :house_furnishings,collection:House::FLAG.map{|s| [t(s,:scope=>"house.flag.you_wu"),s]},prompt:"",label:"套内软装"%>
          </div>
          <div class="col-md-3">
            <%=f.input :wall_malleability,collection:House::LEVEL.map{|s| [t(s,:scope=>"house.level.weak"),s]},prompt:"",label:"套内墙体可塑性"%>
          </div>
          <div class="col-md-3">
            <%=f.input :house_malleability,collection:House::LEVEL.map{|s| [t(s,:scope=>"house.level.weak"),s]},prompt:"",label:"涉品公寓可塑性"%>
          </div>
          <div class="col-md-3">
            <%=f.input :education_resources,collection:House::LEVEL.map{|s| [t(s,:scope=>"house.level.rare"),s]},prompt:"",label:"教育资源"%>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <%=f.input :transportation_convenience,collection:House::LEVEL.map{|s| [t(s,:scope=>"house.level.low"),s]},prompt:"",label:"出入便利性"%>
          </div>
          <div class="col-md-3">
            <%=f.input :shopping_convenience,collection:House::LEVEL.map{|s| [t(s,:scope=>"house.level.low"),s]},prompt:"",label:"购物便利性"%>
          </div>
          <div class="col-md-3">
            <%=f.input :medical_convenience,collection:House::LEVEL.map{|s| [t(s,:scope=>"house.level.low"),s]},prompt:"",label:"医疗便利性"%>
          </div>
          <div class="col-md-3">
            <%= f.input :completion_date,label:'竣工时间',:start_year=>1970,:end_year=>Date.current.year %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-3">
            <%=f.input :price_before_operation,label:'运营前市价(¥)'%>
          </div>
          
          <div class="col-md-3">
            <%=f.input :payment_method,label:'支付方式'%>
          </div>
        </div>
        <div class="col-md-12">
          <%= f.nested_fields_for :house_images do |ff| %>
            <fieldset class="nested_field">
              <div class="col-md-9">
                <div class="form-group">
                  <%= ff.label :image,"添加图片(最佳尺寸:600px * 450px)" %>
                  <%= ff.file_field :image,:class=>"form-control" %>
                  <% if ff.object.image.present? %>
                    已上传档案<%= link_to ff.object.image.file.filename,ff.object.image.url,:target=>"_blank" %>
                  <% end %>
                </div>
                <div class="form-group">
                  <%= ff.label :description ,"图片简单描述"%>
                  <%= ff.text_field :description,:class=>"form-control" %>
                </div>
                <%= ff.remove_nested_fields_link "移除这个图片",class: "btn btn-danger" %>
              </div>
              <div class="col-md-3">
                <% if ff.object.image.present? %>
                  <%= image_tag(ff.object.image.url,class:"img-responsive") %>
                <% end %>
              </div>
            </fieldset>
          <% end %>
          <%= f.add_nested_fields_link :house_images,"新增图档",class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>地图信息</h4>
      </div>
      <div class="panel-body">
        <%= f.text_field :cp_lat, :id => "maplat", :type => "hidden" %>
        <%= f.text_field :cp_lng, :id => "maplng", :type => "hidden" %>
        <%= render "common/baidumap_1" %>
      </div>
    </div>

  </div>

<% end %>
