<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
  <div class="property-item ">
    <%= link_to house_path(house),target:"_blank" do %>
      <figure class="property-thumbnail">
        <!-- <img src="http://homey2.jp.production.s3.amazonaws.com/uploads/image/file/858/medium_P1030EB.tmp_____.jpg"  class="img-responsive" alt="" width="" height=""> -->
        <% if house.house_images.first.present?%>
          <%= image_tag(house.house_images.first.image.url,class:"img-responsive medium") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic",class: "img-responsive medium") %>
        <% end %>
        <figcaption>
          <div class="property-title">
            <div class="title">
              编号: <%= house.house_id %>
            </div>
            <div class="subtitle">
              <span class="type">地址</span>
              <span>-</span>
              <span class="location"><%= house.address %></span>
            </div>
          </div>
        </figcaption>
      </figure>
    <% end %>
    <div class="property-content">
      <div class="property-meta clearfix">

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <div class="">
            <div class="meta-title">
              <i class="fa fa-tree"></i>
            </div>
            <div class="meta-data" >
              <%= house.landscape %>
            </div>
          </div>

          <div class="">
            <div class="meta-title">
              <i class="fa fa-home"></i>
            </div>
            <div class="meta-data" >
              软装: <%= render_with_or_without(house.house_furnishings) %>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
          <div class="">
            <div class="meta-title">
              <i class="fa fa-arrow-up"></i>
            </div>
            <div class="meta-data" >
              电梯: <%= render_with_or_without(house.elevator) %>
            </div>
          </div>

          <div class="">
            <div class="meta-title">
              <i class="fa fa-shield"></i>
            </div>
            <div class="meta-data" >
              安保: <%= render_with_or_without(house.sercurity_service) %>
            </div>
          </div>
        </div>

      </div>


      <div class="property-price">
        <div class="price-tag">
          <i class="fa fa-list-o property-more"></i>
          <span>￥5,000/month</span>
        </div>
      </div>
    </div>
  </div>
</div>
