
<h1>房屋资产信息列表</h1>
<%= form_tag houses_path,method: :get do  %>
  <%= text_field_tag 'filter_house_id' ,nil,placeholder:"请输入ID" %>
  <%= submit_tag '按ID查找' %>
<% end %>
<table class="table table-bordered" style="">
  <thead>
    <tr>
      <th>id</th>
      <th>address</th>
      <th>created_at</th>
      <th>options</th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house|%>
      <tr>
        <td>

            <%= link_to(house.house_id,house_path(house))  %>
        </td>
        <td><%= house.address %></td>
        <td><%= house.created_at %></td>
        <td>
          <% if current_user %>
            <% if can? :update ,house %>
              <%= link_to('edit',edit_house_path(house),class:"btn btn-info") %>
            <% end %>
            <% if can? :destroy , house %>
              <%= link_to('destroy',house_path(house),method: :delete,data:{confirm:"are you sure?"},class:"btn btn-danger") %>
            <%end%>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= paginate @houses %>
<%= link_to '返回',:back,:class=>"btn btn-default" %>
<% if current_user %>
  <% if can? :create,House %>
    <%= link_to '新增房源信息',new_house_path,:class=>"btn btn-primary" %>
  <%end %>
<% end %>
