
<h4 class="separate-title">房源信息</h4>
<hr class="separate-line">
<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td colspan="1">编号:<%= @house.house_id %></td>
      <td colspan="1">录入时间: <%= @house.created_at.strftime('%F %H:%M') %></td>

      <td colspan="1">上次登录: <%if current_user%> <%= current_user.last_sign_in_at.strftime('%F %H:%M') %> <%end%></td>
      <td colspan="1">景观: <%= @house.landscape %></td>
      <td colspan="1">看房热线 <%= @house.contact_phone %></td>

    </tr>

    <tr>
      <td colspan="1">区域: <%= @house.district.name %></td>
      <td colspan="2">产权地址: <%= @house.address %></td>
      <td colspan="1">绿化: <%= @house.greening %></td>
      <td colspan="1">竣工时间 <%= @house.completion_date %></td>
    </tr>

    <tr>
      <td >层高(<%= render_single_or_deplex(@house) %>): <%= @house.floor_height %>(m)</td>
      <td>产权面积: <%= @house.property_area %>(㎡)</td>
      <td>公摊面积: <%= @house.public_area %>(㎡)</td>
      <td>实际使用面积: <%= @house.actual_area %>(㎡)</td>
      <td>公共通道: <%= render_passage_level(@house.public_passage) %></td>
    </tr>
    <tr>
      <td colspan="1">结构: <%= @house.structure %></td>
      <td colspan="2">空间规划: <%= @house.spatial_planning %></td>
      <td>套内硬装: <%= render_with_or_without(@house.house_upgrade) %></td>
      <td>套内软装: <%= render_with_or_without(@house.house_furnishings) %></td>
    </tr>
    <tr>
      <td>停车位: <%= render_with_or_without(@house.parking_space) %></td>
      <td>封闭式小区: <%= render_yes_or_no(@house.gated_community) %></td>
      <td>燃气管道: <%= render_with_or_without(@house.gas_pipeline) %></td>
      <td>电梯: <%= render_with_or_without(@house.elevator) %></td>
      <td>包租成本: <%= render_with_or_without(@house.charter_costs) %></td>
    </tr>
    <tr>
      <td>门禁安保服务: <%= render_with_or_without(@house.sercurity_service) %></td>
      <td>套内墙体可塑性: <%= render_malleability_degree(@house.wall_malleability) %></td>
      <td>涉品公寓可塑性: <%= render_malleability_degree(@house.house_malleability) %></td>
      <td>教育资源: <%= render_education_resources_degree(@house.education_resources) %></td>
      <td>运营前市价: <%= @house.price_before_operation %>(¥)</td>
    </tr>
    <tr>
      <td>出入便利性: <%= render_convenience_level(@house.transportation_convenience) %></td>
      <td>购物便利性: <%= render_convenience_level(@house.shopping_convenience) %></td>
      <td>医疗便利性: <%= render_convenience_level(@house.medical_convenience) %></td>
      <td>月租金: <%= @house.monthly_rent %>(¥)</td>
      <td>支付方式: <%= @house.payment_method %></td>
    </tr>
  </tbody>
</table>

<div class="col-md-8">
  <% if !@house.house_images.empty? %>
  <section class="slider">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <% @house.house_images.each do |house_image| %>
        <li>
          <%= image_tag(house_image.image.url) %>
        </li>
        <% end %>
      </ul>
    </div>
    <div id="carousel" class="flexslider">
      <ul class="slides">
        <% @house.house_images.each do |house_image| %>
        <li>
          <%= image_tag(house_image.image.medium.url) %>
        </li>
        <% end %>
      </ul>
    </div>
  </section>
  <% else %>
    <h4>暂未上传图片</h4>
  <% end %>
</div>
<div class="col-md-4 col-lg-4">

  <%= render "common/baidumap_2" %>
</div>

<script type="text/javascript">
  $(function(){
    SyntaxHighlighter.all();
  });
  $(window).load(function(){
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 210,
      itemMargin: 5,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel",
      start: function(slider){
        $('body').removeClass('loading');
      }
    });
  });
</script>
