
<div class="">
  <h1>工资条列表</h1>
  <table class="table">
    <thead>
      <th>姓名</th>
      <th>日期</th>
      <th>操作</th>
    </thead>
    <tbody>
      <% @salaries.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.salary_date %></td>
        <td><%= link_to "编辑",edit_backend_user_salary_path(@user,s) %>|
          <%= link_to "查看" ,backend_user_salary_path(@user,s) %>|
          <%= link_to "删除",backend_user_salary_path(@user,s),method: :delete,data:{confirm:"Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="">
  <%= paginate @salaries %>
</div>

<%= link_to "新增",new_backend_user_salary_path(@user),class:"btn btn-primary btn-nav"%>
<%= link_to "返回员工列表",backend_profiles_path,class:"btn btn-default btn-nav" %>
