<% if guest.errors.any? %>
  <ul>
    <%guest.errors.full_messages.each do |error|%>
      <li><%=error%></li>
    <%end%>
  </ul>
<% end %>
<%= simple_form_for [:backend,guest] do |f| %>
<div class="panel panel-primary">
  <div class="panel-heading"><h4>个人信息</h4>
  </div>
  <div class="panel-body">
    <div class="col-md-12" style="padding:0">
      <div class="col-md-3">
        <%= f.input :name,:label=>"名称" %>
      </div>
      <div class="col-md-6 country-select">
        <%= f.label :country, "国籍" %><br>
        <%= f.country_select :country_code ,priority_countries:["US","IT","RU","MY","GB"],include_blank:true,class:"form-control",locale:'en'%>
      </div>
      <div class="col-md-3">
        <%= f.label :status,"租赁状态" %>
        <%= f.select :status, Guest::STATUS.map{|s| [t(s,:scope=>"guest.status"),s]},{},class:"form-control"%>
      </div>
    </div>
    <div class="col-md-12" style="padding:0">
      <div class="col-md-3">
        <%= f.input :job, label:"职业" %>
      </div>
      <div class="col-md-3">
        <%= f.input :company ,label:"公司信息" %>
      </div>
      <div class="col-md-3">
        <%= f.input :email ,label:"电子邮件",as: :email %>
      </div>
      <div class="col-md-3">
        <%= f.input :wechat ,label:"微信" %>
      </div>
    </div>
    <div class="col-md-12" style="padding:0">
      <div class="col-md-3">
        <%= f.input :phone ,label:"电话",as: :tel %>
      </div>

      <div class="col-md-3">
        <%= f.input :referrer ,label:"推荐人" %>
      </div>

      <!-- <div class="col-md-3">
        <%= f.input :approach ,collection:[["官网",0],["客户推荐",1],["relocation suppliers",2],["高校/外企人事部",3],["广告",4],["其它",5]],label:"获取途径",selected: 5 %>
      </div> -->
      <div class="col-md-3">
        <%= f.label :approach,"途径" %>
        <%= f.select :approach,Guest::APPROACH.map{|p| [t(p,:scope=>"guest.approach"),p]},{},class:"form-control" %>
      </div>
      <div class="col-md-3">


        <!-- <%= f.collection_check_boxes :user_ids,User.all,:id,:email %> -->

      </div>
    </div>

  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>房屋需求</h4>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <!-- <%= f.input :house_options ,collection:[["个人出租住宅",0],["品牌公寓",1],["别墅",2],["商铺",3],["车库",4]],label:"房屋类型",as: :check_boxes %> -->
      <%= f.label "option_ids","房屋类型: " %>
      <%= f.collection_check_boxes :option_ids,Option.all,:id,:content %>
    </div>
    <div class="col-md-3">
      <%= f.input :house_district ,label:"区域" %>
    </div>
    <div class="col-md-3">
      <%= f.input :house_type ,label:"户型" %>
    </div>
    <div class="col-md-3">
      <%= f.input :liked_estate ,label:"中意小区" %>
    </div>
    <div class="col-md-3">
      <!-- <%= f.label :landscape,"景观" %>
      <div class="form-control">
          <%= f.select :landscape ,{'否'=>0,'是'=>1} %>
      </div> -->
      <%= f.input :landscape,collection:["湖景","海景"],label:'景观' %>
    </div>
    <div class="col-md-3">
      <%= f.input :house_floor ,collection:["高","中","低","无要求"],label:"楼层" %>
    </div>
    <div class="col-md-3">
      <%= f.input :house_furnished ,collection:["有","无"] ,label:"室内家具" %>
    </div>

    <div class="col-md-3">
      <%= f.input :house_parking ,collection:["一个","二个","三个","无"], label:"停车位" %>
    </div>
    <div class="col-md-3">
      <%= f.input :house_XIS ,collection:["有","无"],label:"XIS校车停靠点" %>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>个人需求</h4>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <%= f.input :check_in_date,label:'计划入住' %>
    </div>
    <div class="col-md-3">
      <%= f.input :duration ,label:"计划租期" %>
    </div>
    <div class="col-md-3">
      <%= f.input :budget ,label:"最高预算" %>
    </div>
    <div class="col-md-3">
      <%= f.input :has_pet ,collection:["有","无"],label:"宠物" %>
    </div>
    <div class="col-md-3">
      <%= f.input :want_buy ,collection:["有","无"],label:"购房意向" %>
    </div>

    <div class="col-md-12">
      <%= f.input :other_requests ,label:"其它需求" ,as: :text%>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>跟进信息</h4>
  </div>
  <div class="panel-body">
    <%= f.nested_fields_for :follows do |ff| %>
      <fieldset>
        <%= ff.label :user_id,"跟进人" %>
        <%= ff.select :user_id,salesman_users.map{|u| [u.email,u.id]},prompt:"选择跟进人"%>
        <%= ff.remove_nested_fields_link "删除此条",class: "btn btn-danger btn-xs" %>
        <%= ff.cktext_area :memo ,ckeditor:{toolbar:'mini',language:'zh-CN'} %>
      </fieldset>

    <% end %>
    <%= f.add_nested_fields_link :follows ,"增加跟进人",:class=>"btn btn-default" %>
  </div>
</div>


<h3 class="col-md-12">裙带客源</h3>
<div class="col-md-12">
  <%= f.nested_fields_for :refer_guests do |ff| %>
    <fieldset style="border-left: 5px solid #bbb;margin-bottom:10px;padding:10px;">
      <div class="col-md-3">
        <%= ff.input :name %>
      </div>
      <div class="col-md-3">
        <%= ff.input :contact %>
      </div>
      <%= ff.remove_nested_fields_link "删除此条",class: "btn btn-danger btn-xs" %>
    </fieldset>

  <% end %>
  <%= f.add_nested_fields_link :refer_guests ,"增加联系人",:class=>"btn btn-default" %>
</div>

<div class="col-md-12">

<%= f.submit "确定",class:'btn btn-success pull-right btn-nav' %>
<%= link_to("返回",:back,class:"btn btn-info pull-right btn-nav") %>
</div>

<% end %>
<script type="text/javascript">
  $(".remove_nested_fields_link").on('click',function(){
    return confirm("确定要删除此条信息?");
  })
</script>
