
<h1 class="main-title">求租客信息管理</h1>
<% if can? :create,Guest %>
<%= link_to("新增租客信息",new_backend_guest_path,:class=>"btn btn-default") %>
<% end %>
<%= link_to("客户来源占比图",backend_path,:class=>"btn btn-primary") %>
<% if @guests.present?%>

<table class="table">
  <thead>
    <th>名称</th>
    <th>国籍</th>
    <th>职业</th>
    <th>操作</th>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= link_to guest.name,backend_guest_path(guest) %></td>
        <td>
          <% if guest.country_code.present? %>
          <%= guest.country_name(guest.country_code) %>
          <% else %>
          unknown
          <% end %>
        </td>
        <td><%= guest.job %></td>
        <td >
          <% if can? :edit,guest%>
            <%= link_to content_tag(:i,"",class:"fa fa-edit"),edit_backend_guest_path(guest) %>
          <%end%>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
<%= paginate @guests %>
