
<h1>求租客信息管理</h1>
<% if can? :create,Guest %>
<%= link_to("新增租客信息",new_backend_guest_path,:class=>"btn btn-primary") %>
<% end %>
<button type="button" id="expand-button" class="btn btn-info">全部折叠</button>
<button type="button" id="collapse-button" class="btn btn-warning">全部展开</button>
<%= link_to("客户来源占比图",backend_path,:class=>"btn btn-primary") %>
<% if @guests.present?%>
<div class="panel-group">
  <% @guests.each do |guest|%>
    <div class="panel <%= (guest.status == "0")? "panel-info" : "panel-default"%>">
      <div class="panel-heading">
        <p class="panel-title">
          <a href="#collapse-<%=guest.id%>" data-toggle="collapse" id="a-collapse-<%=guest.id%>" class="collapsed">
            <div class="col-md-12">
              <div class="col-md-3">
                <%= guest.name %>
              </div>
              <div class="col-md-3">
                国籍: <%= guest.country_name(guest.country_code) %>
              </div>
              <div class="col-md-3">
                工作: <%= guest.job %>
              </div>

              <div class="col-md-3">
                <% if can? :edit,guest%>
                  <%= link_to "edit",edit_backend_guest_path(guest),class: "btn btn-xs btn-success" %>
                <%end%>
                <% if can? :destroy,guest%>
                  <%= link_to "destroy",backend_guest_path(guest) ,method: :destroy,data:{confirm: "确定要删除吗?"},class: "btn btn-xs btn-danger"%>
                <% end%>
                <%= link_to "more",backend_guest_path(guest),class:"btn btn-xs btn-primary" %>
              </div>
            </div>

            <!--  -->
          </a>
        </p>
      </div>
      <div class="panel-collapse collapse" id="collapse-<%=guest.id%>">
        <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td colspan="1">房屋类型:
                  <% if guest.options.any? %>
                    <% guest.options.each do |option|%>
                      <%= option.content %>
                    <% end %>
                  <% end %>
                </td>
                <td colspan="1">区域: <%=guest.house_district%></td>
                <td colspan="1">户型: <%=guest.house_type%></td>
              </tr>
              <tr>
                <td colspan="1">中意小区: <%=guest.liked_estate%></td>
                <td colspan="1">家具: <%= guest.house_furnished %></td>
                <td colspan="1">停车位: <%= guest.house_parking%></td>
              </tr>
              <tr>
                <td colspan="1">预计入住: <%= guest.check_in_date %></td>
                <td colspan="1">计划租期: <%=guest.duration%></td>
                <td colspan="1">预算: <%=guest.budget%></td>
              </tr>
              <tr>
                <td colspan="1">
                  当前跟进人: <%= show_follower(guest) %>
                </td>
                <td colspan="1">
                  跟进时间: <%= show_last_update_time(guest) %>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


  <% end %>
</div>

<% end %>
<%= paginate @guests %>
<script type="text/javascript">
  $("#expand-button").on('click',function(){
    // $(".panel-heading .panel-title a").click();
    $(".panel-heading .panel-title a").not(".collapsed").click();
  });
$("#collapse-button").on('click',function(){
  $(".panel-heading .panel-title a").filter(".collapsed").click();
});
</script>
