<h1>求租客信息管理</h1><span class="label label-info label-sm">详细</span>
<hr>


<div class="panel panel-info">
  <div class="panel-heading"><h5>个人信息</h5>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <label>名称:</label> <%= @guest.name %>
    </div>
    <div class="col-md-3 country-select">
      <label>国籍:</label> <%= @guest.country_name(@guest.country_code) %>

    </div>
    <div class="col-md-3">
      <label>工作:</label> <%= @guest.job %>
    </div>
    <div class="col-md-3">
      <label>公司:</label> <%= @guest.company %>
    </div>
    <div class="col-md-3">
      <label>电子邮件:</label> <%= @guest.email %>
    </div>
    <div class="col-md-3">
      <label>微信:</label> <%= @guest.wechat %>
    </div>
    <div class="col-md-3">
      <label>电话:</label> <%= @guest.phone %>
    </div>
    <div class="col-md-3">
      <label>租赁状态:</label> <%= @guest.show_status %>
    </div>
    <div class="col-md-3">
      <label>推荐人:</label> <%= @guest.referrer %>
    </div>

    <div class="col-md-3">
      <label>途径:</label> <%= @guest.show_approach %>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h5>房屋需求</h5>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <label>房屋类型:</label>
      <% if @guest.options.any? %>
        <% @guest.options.each do |option|%>
          <%= option.content %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3">
      <label>区域:</label> <%= @guest.house_district %>
    </div>
    <div class="col-md-3">
      <label>户型:</label> <%= @guest.house_type %>
    </div>
    <div class="col-md-3">
      <label>中意小区:</label> <%= @guest.liked_estate %>
    </div>
    <div class="col-md-3">
      <label>景观:</label> <%= @guest.landscape %>
    </div>
    <div class="col-md-3">
      <label>楼层:</label> <%= @guest.house_floor %>
    </div>
    <div class="col-md-3">
      <label>室内家具:</label> <%= @guest.house_furnished %>
    </div>

    <div class="col-md-3">
      <label>停车位:</label> <%= @guest.house_parking %>
    </div>
    <div class="col-md-3">
      <label>XIS校车停靠点:</label> <%= @guest.house_XIS %>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h5>个人需求</h5>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <label>计划入住:</label> <%= @guest.check_in_date %>
    </div>
    <div class="col-md-3">
      <label>计划租期:</label> <%= @guest.duration %>
    </div>
    <div class="col-md-3">
      <label>最高预算:</label> <%= @guest.budget %>
    </div>
    <div class="col-md-3">
      <label>宠物:</label> <%= @guest.has_pet %>
    </div>
    <div class="col-md-3">
      <label>购房意向:</label> <%= @guest.want_buy %>
    </div>

    <div class="col-md-12">
      <label>其它需求:</label> <%= @guest.other_requests %>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h5>跟进信息</h5>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>跟进人</th>
          <th>上次跟进时间</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
      <% if @guest.follows.any? %>
        <% @guest.follows.each do |follow|%>
          <tr>
            <td><%=User.find(follow.user_id).email%></td>
            <td><%=follow.updated_at.strftime("%F %H:%M")%></td>
            <td><%=follow.memo%></td>
          </tr>
        <% end %>
      <%end%>

      </tbody>
    </table>
  </div>
</div>




<h3 class="col-md-12">裙带客源</h3>
<% if @guest.refer_guests.present? %>
<% @guest.refer_guests.each do |ff| %>
  <fieldset style="border-left: 5px solid #bbb;margin-bottom:10px;padding:10px;">
    <div class="col-md-3">
      <label>名称:</label> <%= ff.name %>
    </div>
    <div class="col-md-3">
      <label>联系方式:</label> <%= ff.contact %>
    </div>
  </fieldset>
<% end %>
<% end %>
<div class="col-md-12">

<%= link_to("返回",:back,class:"btn btn-info pull-right btn-nav") %>
</div>
