<table class="table table-bordered" style="background-color:white;">
  <thead>
    <th>email账号</th>
    <th>注册时间</th>
    <th>职员</th>
    <th>美工</th>
    <th>客房管家</th>
    <th>施工经理</th>
    <th>监工</th>
    <th>业务员</th>
    <th>兼职业务员</th>
    <th>资管专员</th>
    <th>兼职资管专员</th>
    <th>会计</th>
    <th>人事</th>
    <th>设计总监</th>
    <th>设计助理</th>
    <!-- <th>租房用户</th>
    <th>资管用户</th> -->
    <th>管理员</th>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime('%F')%></td>
        <td>
          <%= check_box_tag "checkbox_employee[#{user.id}]",1,user.is_employee,:data=>{:url=>employee_admin_user_path(user)},:class=>"change_role" %>
        </td>
        <td><%= check_box_tag "checkbox_art[#{user.id}]",1,user.is_art, :data=>{:url=>art_designer_admin_user_path(user)},:class=>"change_role" ,:disabled=>!user.is_employee%>
        </td>
        <td>
          <%= check_box_tag "checkbox_housekeeper[#{user.id}]",1,user.is_housekeeper,:data=>{:url=>housekeeper_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_cmanager[#{user.id}]",1,user.is_cmanager,:data=>{:url=>cmanager_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_overseer[#{user.id}]",1,user.is_overseer,:data=>{:url=>overseer_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_salesman[#{user.id}]",1,user.is_salesman,:data=>{:url=>salesman_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_salesman_p[#{user.id}]",1,user.is_salesman_p,:data=>{:url=>salesman_p_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_imanager[#{user.id}]",1,user.is_imanager,:data=>{:url=>imanager_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_imanager_p[#{user.id}]",1,user.is_imanager_p,:data=>{:url=>imanager_p_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_acc[#{user.id}]",1,user.is_acc,:data=>{:url=>acc_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_hr[#{user.id}]",1,user.is_hr,:data=>{:url=>hr_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee%>
        </td>
        <td>
          <%= check_box_tag "checkbox_design_director[#{user.id}]",1,user.is_design_director,:data=>{:url=>design_director_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee %>
        </td>
        <td>
          <%= check_box_tag "checkbox_design_assistant[#{user.id}]",1,user.is_design_assitant,:data=>{:url=>design_assistant_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee%>
        </td>
        <!-- <td>
          <%= check_box_tag "checkbox_rental[#{user.id}]",1,user.is_rental_user,:data=>{:url=>rental_user_admin_user_path(user)},:class=>"change_role" %>
        </td>
        <td>
          <%= check_box_tag "checkbox_asset[#{user.id}]",1,user.is_asset_user,:data=>{:url=>asset_user_admin_user_path(user)},:class=>"change_role" %>
        </td> -->
        <td>
          <%= check_box_tag "checkbox_admin[#{user.id}]",1,user.is_admin,:data=>{:url=>admin_admin_user_path(user)},:class=>"change_role",:disabled=>!user.is_employee%>
        </td>

      </tr>
    <% end %>

  </tbody>
</table>
<%= paginate users %>
