<div class="container">
  <div class="row">
    <h2 class="sub-title">编辑资管账户</h2>
    Email: <%=@user.email%> <br>
    ID: <%= @user.id %>
    <%= simple_form_for [:admin,@user] do |f|%>
    <% if @user.has_role?(:asset_user)%>
      <%= f.input :asset_vip_id,collection:AssetVip.all.map{|v| [v.name,v.id]},include_blank:true,prompt:"",label:"设置VIP等级" %>
    <% end %>

      <%= f.submit "确定",class:"btn btn-primary" %>
    <% end %>
    <br>
    <label>已收录VIP资产信息</label>
    <table class="table table-bordered">
      <thead>
        <th>id</th>
        <th>address</th>
        <th>options</th>
      </thead>
      <tbody>
        <% @user.read_houses.each do |house|%>
        <tr>
          <td><%= link_to house.house_id,house_path(house),target:"_blank"%></td>
          <td><%=house.address%></td>
          <td><%= link_to "从列表移除",delete_from_read_admin_user_path(@user,:house_id=>house.id),method: :post ,
          class:"btn btn-danger",data:{confirm:"are you sure?"}%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "返回",:back,class:"btn btn-default" %>
  </div>
</div>
