<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#custom_users">普通用户</a>
  </li>
  <li>
    <a data-toggle="tab" href="#asset_users">资管用户</a>
  </li>

  <li><a data-toggle="tab" href="#permission-config">用户权限设置</a></li>
  <li><a data-toggle="tab" href="#permission-index">用户权限一览</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="custom_users">
    <h1 class="main-title">普通用户</h1>
    <div class="container">
      <div class="row">
        <%= form_tag bulk_update_admin_users_path,method: :post do %>
        <table class="table">
          <thead>
            <th>email</th>
            <th>name</th>
            <th>created time</th>
            <th>select</th>

          </thead>
          <tbody>
            <% @custom_users.each do |c| %>
              <tr>
                <td><%=c.email%></td>
                <td><%=c.email.split("@")[0]%></td>
                <td><%= c.created_at.strftime("%F") %></td>
                <td>
                  <%= check_box_tag "custom_ids[]",c.id,Array(params[:custom_ids]).include?(c) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class="text-right">
          <%= submit_tag "设为职员",class:"btn btn-sm btn-primary",:data=>{confirm:"Are you sure?"} %>
          <%= submit_tag "设为资管",class:"btn btn-sm btn-info",:data=>{confirm:"Are you sure?"} %>
        </p>
        <% end %>

      </div>
    </div>
  </div>
  <div class="tab-pane fade " id="asset_users">
    <h1 class="main-title">资管用户</h1>
    <div class="container">
      <div class="row">
        <%= form_tag bulk_update_admin_users_path,method: :post do %>
        <table class="table">
          <thead>
            <th>email</th>
            <th>name</th>
            <th>created time</th>
            <th>取消资管</th>
            <th>VIP</th>
          </thead>
          <tbody>
            <% @asset_users.each do |a| %>
              <tr>
                <td><%=link_to a.email,edit_admin_user_path(a)%></td>
                <td><%=a.email.split("@")[0]%></td>
                <td><%= a.created_at.strftime("%F") %></td>
                <td>
                  <%= check_box_tag "custom_ids[]",a.id,Array(params[:custom_ids]).include?(a) %>
                </td>
                <td>
                  <%= a.asset_vip.try(:name) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class="text-right">
          <%= submit_tag "取消资管权限",class:"btn btn-sm btn-danger",:data=>{confirm:"Are you sure?"} %>
        </p>
        <% end %>
        <% AssetVip.all.each do |v| %>
          <%= form_tag admin_asset_vip_path(v),method: :put do %>
            VIP: <input type="text" name="name" value="<%=v.name%>">
            可查阅数: <input type="text" name="max_house" value="<%=v.max_house%>">
            <%= submit_tag "确定更新",class:"btn btn-xs btn-default" %>
            <%= link_to "删除此VIP",admin_asset_vip_path(v),method: :delete,class:"btn btn-xs btn-danger",data:{confirm:"are you sure?"} %>
          <% end %>
        <% end %>
        <%= form_tag admin_asset_vips_path,method: :post do  %>
          VIP: <input type="text" name="name" value="" placeholder="此栏新增VIP">
          可查阅数: <input type="text" name="max_house" value="" placeholder="">
          <%= submit_tag "新增此VIP",class:"btn btn-xs btn-primary" %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="tab-pane fade " id="permission-config">
    <h1 class="main-title">用户权限设置</h1>
    <div class="col-md-12 col-lg-12">
      <%= form_tag admin_users_path,method: :get do %>
        从<%= date_field_tag 'from_date',"2010-01-01"%>到<%= date_field_tag 'to_date',Date.today %>
        <%= submit_tag '按注册日期筛选',:class=>"btn btn-sm btn-primary" %>
        <%if @from_date.present?%>
        (筛选日期:<%= @from_date%> 到 <%= @to_date %>)
        <%end%>
      <% end %>
    </div>
    <div class="col-md-12 col-lg-12">
      <%= form_tag admin_users_path,method: :get do %>
        <%= text_field_tag 'user_email',nil,placeholder:'请输入注册邮箱名' %>
        <%= submit_tag '按注册名筛选',:class=>"btn btn-sm btn-primary" %>
        <%if @user_email.present?%>
        (筛选条件: <%= @user_email %>)
        <%end %>
      <%end%>
    </div>
    <div class="user-table" id="user-table">
      <%= render "table",:users=>@employee_users %>
    </div>
  </div>
  <div class="tab-pane fade" id="permission-index">
    <h1 class="main-title">用户权限一览</h1>
    <table class="table table-bordered table-striped table-hover" >
      <thead>
        <th>角色</th>
        <th>系统管理员</th>
        <th>美工</th>
        <th>客房管家</th>
        <th>施工经理</th>
        <th>监工</th>
        <th>业务员</th>
        <th>兼职业务员</th>
        <th>资管专员</th>
        <th>兼职资管专员</th>
        <th>会计</th>
        <th>人事</th>
        <th>设计总监</th>
        <th>设计助理</th>
        <th>租房用户</th>
        <th>资管用户</th>
        <th>IT</th>
        <th>公司员工</th>
      </thead>
      <tbody>
        <tr>
          <td>设计图共享</td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>建材清单</td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>装潢流程管理</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>房源展示(cn/en)</td>
          <td>读/写</td>
          <td>读/写</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>读/写</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>房源VR展示(cn/en)</td>
          <td>读/写</td>
          <td>读/写</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>读/写</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>房源排期系统(cn/en)</td>
          <td>读/写</td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>本地生活资讯(en)</td>
          <td>读/写</td>
          <td>读/写</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!-- <tr>
          <td>本地不动产资讯(en)</td>
          <td>读/写</td>
          <td>读/写</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
        </tr> -->
        <tr>
          <td>房租在线支付(cn/en)</td>
          <td>读/写</td>
          <td></td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>在租客信息管理</td>
          <td>读/写</td>
          <td></td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>租金催缴提醒</td>
          <td>读/写</td>
          <td></td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>客服评价反馈</td>
          <td>读/写</td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>求租客信息管理</td>
          <td>读/写</td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>优质不动产信息分享</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>读/写</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>资管线上加盟(电子合同)</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td>读/写</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>读/写</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>广告合作管理</td>
          <td>读/写</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
          <td>只读</td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td>读/写</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>员工日程</td>
          <td>读/写</td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>读/写</td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>员工信息</td>
          <td>读/写</td>
          <td></td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>只读</td>
          <td>读/写</td>
          <td>只读</td>
          <td>只读</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
 $("#user-table").on("change",".change_role",function(evt){
   var url=$(this).data("url");
   flag=confirm("确定要进行权限设置吗?")
   if (flag) {
     $.ajax({
       url: url,
       method: "POST",
       datatype: "json",
     });
   }else {
     this.checked=!this.checked
   }
 })
</script>
