<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'>
        <img src='<%= image_url "homey_icon.jpg"%>' alt="" class="nav-icon">
      </a>


    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <!-- <p class="text-right">
        <%= link_to "中文版",:controller=>controller_name,:action=>action_name,:locale=>"zh-CN" %> /
        <%= link_to "English",:controller=>controller_name,:action=>action_name,:locale=>"en"%>
      </p> -->
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "中文版",:controller=>controller_name,:action=>action_name,:locale=>"zh-CN" %> </li>
        <li><%= link_to "English",:controller=>controller_name,:action=>action_name,:locale=>"en"%></li>
        <li><%=link_to('关于我们',about_us_path)%></li>
        <li><%=link_to('员工通道')%></li>
        <% if !current_user %>
          <li><%=link_to(t('sign in'),new_user_registration_path)%></li>
          <li><%=link_to(content_tag(:i,t('log in'),class:'fa fa-sign-in'),new_user_session_path)%></li>
        <%else%>



        <% if current_user.has_role?(:admin)%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员选项 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to('用户权限管理',admin_user_managers_path)%></li>
            <li><%=link_to('建材清单')%></li>
            <li><%=link_to('装修设计图')%></li>
            <li><%=link_to('资产管理',admin_houses_path)%></li>
            <li><%=link_to('房源管理',admin_houses_path)%></li>
            <li><%=link_to('信息管理',backend_path)%></li>
            <li><%=link_to('员工信息')%></li>
            <li><%=link_to('广告合作')%></li>
            <li><%=link_to('线上加盟系统')%></li>
          </ul>
        </li>
        <% end %>


          <li class="dropdown">
            <a href='#' class="dropdown-toggle" data-toggle="dropdown">
              Hi,<%=current_user.email%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%=link_to('日程看板')%></li>
              <li><%=link_to('我的资料')%></li>
              <li><%=link_to(t('change password'),edit_registration_path(:user))%></li>
              <li><%=link_to(content_tag(:i,t('log out'),class:'fa fa-sign-out'),destroy_user_session_path,method: :delete)%></li>
            </ul>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>
