<!DOCTYPE html>
<html>
  <head>
    <title>Homey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>
        <%= render "common/flashes" %>
        <div class="container">
          <div class="row">
            <%=yield%>
          </div>
        </div>
        <%= link_to "中文版",:controller=>controller_name,:action=>action_name,:locale=>"zh-CN" %>
        <%= link_to "English",:controller=>controller_name,:action=>action_name,:locale=>"en"%>
        <%=render "common/footer"%>
      </div>

    </div>
  </body>
</html>
