<!DOCTYPE html>
<html>
  <head>
    <title>Homey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://api.map.baidu.com/api?v=2.0&ak=fitXUIqC5oHoWvnUhd4PwtHlbMb22AvH&s=1" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>

        <%= render "common/flashes" %>
        <%=yield%>


        <!-- <%=render "common/footer"%> -->
        <!-- <p class="text-right">
          <%= link_to "中文版",:controller=>controller_name,:action=>action_name,:locale=>"zh-CN" %> /
          <%= link_to "English",:controller=>controller_name,:action=>action_name,:locale=>"en"%>
        </p> -->
      </div>

    </div>
  </body>
</html>
<!-- 设置alert消息自动隐藏 -->
<script>
    setTimeout("$('.alert-container').fadeOut('slow')", 1500)
</script>
