<!DOCTYPE html>
<html>
  <head>
    <title>Homey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://api.map.baidu.com/api?v=2.0&ak=fitXUIqC5oHoWvnUhd4PwtHlbMb22AvH&s=1" type="text/javascript"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>

        <%= render "common/flashes" %>
        <div class="col-md-2">
          <div class="backend-left">
            <ul>
              <% if can? :read ,Guest %>
              <li id="requests"><%=link_to("委托求租",backend_requests_path)%></li>
              <% end %>

              <li id="inquiries"><%=link_to("平台求租")%></li>
              <!-- <li id="messages"><%=link_to("站内信息")%></li>
              <li id="resources"><%=link_to("生活资讯")%></li>
              <li id="subleases"><%=link_to("分租信息")%></li>
              <li id="subleases"><%=link_to("建材清单")%></li>
              <li id="subleases"><%=link_to("装修设计图")%></li> -->


              <% if can? :read,Guest%>
                <li id="renters"><%=link_to("在租客信息")%></li>
                <li id="guests"><%=link_to("求租客信息",backend_guests_path)%></li>
              <%end%>
                <li id="worker"><%=link_to("员工管理",worker_backend_path)%></li>
            </ul>
          </div>

        </div>
        <div class="col-md-10">
          <div class="backend-right">
            <%=yield%>
          </div>

        </div>


        <!-- <%=render "common/footer"%> -->
        <!-- <p class="text-right">
          <%= link_to "中文版",:controller=>controller_name,:action=>action_name,:locale=>"zh-CN" %> /
          <%= link_to "English",:controller=>controller_name,:action=>action_name,:locale=>"en"%>
        </p> -->
      </div>

    </div>
  </body>
</html>
<!-- 设置alert消息自动隐藏 -->
<script>
  setTimeout("$('.alert-container').fadeOut('slow')", 1500);
  // path_name=window.location.href.split("/").pop();
  path_name=window.location.href.split("/")[4];
  item = document.getElementById(path_name);
  item.className += " active";
</script>
