<div class="devise-bg">
  <h2 class="greeting">Edit <%= resource_name.to_s.humanize %></h2>
  <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 devise-container">
    <div class="devise-title">
      <%= t("change_pw",:scope=>"devise") %>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: t("change_pw_hint",:scope=>"devise"), required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: t("change_pw_confirm",:scope=>"devise"), required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("update",:scope=>"devise"),class:"btn btn-danger" %>
        <%= link_to t("back"), :back,class:"btn btn-default" %>
      </div>
    <% end %>

    <!-- <h3 class=""><%= t("cancel_account",:scope=>"devise") %></h3> -->

    <!-- <p>Unhappy? <%= link_to t("cancel_account",:scope=>"devise"), registration_path(resource_name), data: { confirm: t("cancel_account_confirm",:scope=>"devise") }, method: :delete %></p> -->


  </div>
</div>
